default:
    translation:
        locale: en

    suites:
        default:
            contexts:
                - Alsciende\Behat\ApiContext:
                      cache: '@cache.app'
                      client: '@test.client'
                - Alsciende\Behat\JsonContext:
                      cache: '@cache.app'
                      jsonSchemaBaseUrl: 'features/json_schema/'

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
