default:
    translation:
        locale: en

    suites:
        default:
            contexts:
                - App\Features\Context\FeatureContext:
                    kernel: '@kernel'
                - App\Features\Context\ApiContext:
                    client: '@test.client'
                - App\Features\Context\JsonContext:
                    jsonSchemaBaseUrl: 'features/json_schema/'
                - App\Features\Context\DoctrineContext:
                    doctrine: '@doctrine'

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
        BehatExtension\DoctrineDataFixturesExtension\Extension:
            lifetime:    'feature'
            directories: ~
            fixtures:
                # see https://github.com/BehatExtension/DoctrineDataFixturesExtension/pull/29
                - 'App\DataFixtures\AppFixtures'

